@charset "utf-8";body,dd,dl,dt,figure,form,h1,h2,h3,h4,input,li,ol,p,textarea,ul{margin:0;padding:0;outline:0}
*{font-weight:lighter}
body,input,textarea{font-size:12px;font-family:黑体,"Microsoft Yahei",宋体,PMingLiU,Verdana,Arial,Helvetica,sans-serif}
body{background:#f5f5f5;height:100%;width:100%}
button,input{-webkit-appearance:none;border-radius:0}
body,html{height:100%!important}
li,ol,ul{list-style:none}
a{color:#666;text-decoration:none}
a:hover{color:#fff}
.clearfix{clear:both}
.topbox{width:100%;background-color:#333;height:100%;}
.logo{background:url(logo.png);width:168px;height:70px;float:left;margin:4px 0 0 0;}
.banner{display:block;margin:0 auto;width:1200px;height:100%;background:url(banner.jpg) bottom no-repeat;position:relative;}
.banner h2{text-align:center;font-size:48px;color:#fff;position:absolute;top:200px;left:0;right:0;}
.banner p{text-align:center;font-size:22px;color:#fff;position:absolute;top:260px;left:0;right:0;}
.navContainer{display:block;width:1000px;overflow:hidden;background:#fff;box-shadow:0 2px 8px #000;margin:0 auto;position:relative;top:16px;transition:.5s}
.nav_fixed{position:fixed;margin:0!important;width:100%;left:0;right:0;top:0;box-shadow:0 2px 3px rgba(0,0,0,.1);transition:0s!important;z-index:999}
.nav{float:right;margin:0 30px 0 0}
.nav a{display:block;font-size:16px;color:#212121;height:70px;padding:0 16px;line-height:74px;text-align:center}
.nav li{margin:0 4px;float:left}
.navContainer img{display:block;position:absolute}
.nav .current,.nav a:hover{color:#dd0101;border-bottom:4px solid #dd0101}
.mainbox{width:1000px;margin:0 auto;}

#case,#service,#team,#join,#about{display:block;margin:0 auto;width:100%;height:100%;overflow:hidden;background:#ddd;}
#case .text02 h2,#service .text02 h2,#team .text02 h2,#join .text02 h2,#about .text02 h2{font-size:40px;text-align:center;color:#fff;line-height:100px}
#case .text02 p,#service .text02 p,#team .text02 p,#join .text02 p,#about .text02 p{font-size:18px;line-height:1.8em;text-align:center;color:#fff}
#case .text02,#service .text02{padding-top:14em;padding-top:30vh;}
#service .t-box,#team .t-box,#join .t-box,#about .t-box{height:100px;width:120%;background:#f5f5f5;position:absolute;left:-10%;top:-50px;border-radius:0 0 100% 100%}
#case .b-box,#service .b-box,#team .b-box,#join .b-box,#about .b-box{height:100px;width:120%;background:#f5f5f5;position:absolute;left:-10%;bottom:-50px;border-radius:100% 100% 0 0}
#team .text02,#join .text02,#about .text02{padding-top:12em;padding-top:24vh;}

#case{background:url(b_1.jpg) center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:relative;}
.case{padding:50px 0;}

#service{background:url(b_2.jpg) center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:relative;}
.service .middlebox {position:relative;width:1000px;margin:0 auto;padding: 50px 0;overflow: hidden;}
.service .middlebox img{display:block}
.service .step01{width:160px;float:left}
.service .firststep{width:160px;float:left;margin-left:40px}
.service .step01 h3,.service .firststep h3{font-size:16px;color:#000;padding:0 0 10px 0;}
.service .step01 p,.service .firststep p{color:#838181;line-height:24px;font-size:14px;}
.service .title{font-size:24px;text-align:center;padding:0 0 20px 0;}
.service .probox{width:1000px;overflow:hidden;margin:0 auto;padding:0 0 60px 0;margin:0 0 60px 0;border-bottom:1px solid #eee;}
.service .pro01,.service .pro02,.service .pro03{float:left;height:306px;width:314px;background:#fff;box-shadow:0 2px 5px #ccc;}
.service .pro01{margin:30px 0 0 0}
.service .pro02{margin:0 0 0 30px}
.service .pro03{float:right;margin:30px 0 0 0}
.service .pro01 h3,.service .pro02 h3,.service .pro03 h3{font-size:16px;color:#000;line-height:28px;margin-top:8px;margin-left:12px}
.service .pro01 p,.service .pro02 p,.service .pro03 p{font-size:12px;color:#a6a6a6;margin-left:12px}

#team{height:80%;background:url(b_3.jpg) center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:relative;}

#join{height:80%;background:url(b_4.jpg) center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:relative;}
.join{padding:50px 0;overflow:hidden}
.join .probox{width:1000px;overflow:hidden;margin:0 0 20px 0;}
.join .probox img{border:1px solid #4e4e4e}
.join .pro01 *{display:block}
.join .pro01{float:left;width:318px;}
.join .pro01 .title,.join .pro02 .title,.join .pro03 .title{border-bottom:1px solid #eee;padding-bottom:12px}
.join .pro02{float:left;margin-left: 24px;width:314px;}
.join .pro03{float:right;width:318px;}
.join .pro01 .title h3,.join .pro02 .title h3,.join .pro03 .title h3{font-size:32px;}
.join .pro01 h3,.join .pro02 h3,.join .pro03 h3{font-size:22px;color:#000;line-height:28px;margin-top:8px;}
.join .pro01 p,.join .pro02 p,.join .pro03 p{font-size:14px;color:#838181;margin-top:8px;line-height:24px}
.join .pro01 span,.join .pro02 span,.join .pro03 span{font-size:16px;color:#333;/* background: #c00; */padding:6px 0;width:318px;display: block;/* text-align:center; */}

#about{height:80%;background:url(b_5.png) center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;position:relative;}
.about{padding-top:50px}
.about .titlebox{overflow:hidden;padding-top:50px}
.about .titlebox img{float:left}
.about .title h1{font-size:16px;color:#000;font-weight:600;line-height:26px}
.about .title h2{font-size:12px;color:#000;font-family:Arial}
.about .text02{line-height:27px;font-size:14px;color:#7a7c7d;overflow:hidden;margin-bottom:50px}
.about .text02 p{width:650px;display:block;float:left}
.about .text02 img{float:right}
.about .probox{width:1000px;overflow:hidden;margin:0 auto;margin-top:44px;padding-bottom: 50px;border-bottom:1px solid #e6e6e6}
.about .probox img{border:1px solid #4e4e4e}
.about .pro01 *{display:block}
.about .pro01{float:left;width:318px}
.about .pro02{float:left;margin-left:20px;width:318px}
.about .pro03{float:right;width:318px}
.about .pro01 h3,.about .pro02 h3,.about .pro03 h3{font-size:18px;color:#000;line-height:28px;margin-top:8px}
.about .map{overflow:hidden;padding-top:60px;padding-bottom:80px}
.about .map p{font-size:14px;color:#000;line-height:28px;margin-top:8px}
.about .map img{float:left}
.about .map img{border:1px solid #d0d0d0}
.about .textbox{padding-left:40px;float:left}
.about .textbox h1{display:block;font-size:30px;color:#000;margin:20px 0 0 0;}
.about .textbox h3{display:block;margin-top:8px;font-size:14px;color:#2e2e2e}
.about .textbox h4{display:block;margin-top:38px;font-size:18px;color:#000}

.inforbox{width:100%;background-color: #292929;height:135px;border-top:3px solid #f54730}
.infor{margin:0 auto;width:1000px;overflow:hidden}
.leftinfo *{display:block;line-height:24px;font-size:14px;color:#ccc}
.leftinfo{float:left;margin-top:25px}
.leftinfo a:hover{color:#fff}
.rightinfo{float:right;margin-top:30px}
.rightinfo *{font-family:"黑体"}
.td01{font-size:14px;color: #aaa;}
.td02{font-size:14px;color:#ccc}
.spcial02{font-size:14px}
.spcial01{background-color:#f54730;color:#fff;width:40px;text-align:center;font-size:14px}
.bottombox{width:100%;background-color:#292929;height:48px;border-top:2px solid #666}
.bottom{width:1000px;margin:0 auto;position:relative}
.bottom h1{color:#fff;font-size:12px;line-height:48px;float:left}
.backtop{float:right}
.wifi{position:absolute;left:840px;top:18px}
.sina{position:absolute;left:900px;top:18px}
